#
#Friendly urls
#

RewriteEngine on
#main pages
RewriteRule ^test$ /test.php
RewriteRule ^contact$ /contact.php
RewriteRule ^about$ /about.php

#result paths
RewriteRule ^result/([a-zA-Z0-9_]+)$ /result/$1/ [R] 
RewriteRule ^result/([a-zA-Z0-9_]+)/$ /results.php?test=$1 
RewriteRule ^result/([a-zA-Z0-9_]+)/([0-9]+)/waterfall$ /result/$1/$2/details/ [R]
RewriteRule ^result/([a-zA-Z0-9_]+)/([0-9]+)/waterfall/$ /result/$1/$2/details/ [R]
RewriteRule ^result/([a-zA-Z0-9_]+)/([0-9]+)/details/$ /details.php?test=$1&run=$2
RewriteRule ^result/([a-zA-Z0-9_]+)/([0-9]+)/waterfall/cached$ /result/$1/$2/details/cached/ [R]
RewriteRule ^result/([a-zA-Z0-9_]+)/([0-9]+)/waterfall/cached/$ /result/$1/$2/details/cached/ [R]
RewriteRule ^result/([a-zA-Z0-9_]+)/([0-9]+)/details/cached/$ /details.php?test=$1&run=$2&cached=1
RewriteRule ^result/([a-zA-Z0-9_]+)/([0-9]+)/optimization$ /result/$1/$2/performance_optimization/ [R]
RewriteRule ^result/([a-zA-Z0-9_]+)/([0-9]+)/optimization/$ /result/$1/$2/performance_optimization/ [R]
RewriteRule ^result/([a-zA-Z0-9_]+)/([0-9]+)/performance_optimization/$ /performance_optimization.php?test=$1&run=$2
RewriteRule ^result/([a-zA-Z0-9_]+)/([0-9]+)/optimization/cached$ /result/$1/$2/performance_optimization/cached/ [R]
RewriteRule ^result/([a-zA-Z0-9_]+)/([0-9]+)/optimization/cached/$ /result/$1/$2/performance_optimization/cached/ [R]
RewriteRule ^result/([a-zA-Z0-9_]+)/([0-9]+)/performance_optimization/cached/$ /performance_optimization.php?test=$1&run=$2&cached=1
RewriteRule ^result/([a-zA-Z0-9_]+)/([0-9]+)/screen_shot/$ /screen_shot.php?test=$1&run=$2
RewriteRule ^result/([a-zA-Z0-9_]+)/([0-9]+)/screen_shot/cached/$ /screen_shot.php?test=$1&run=$2&cached=1
RewriteRule ^result/([a-zA-Z0-9_]+)/([0-9]+)/breakdown/$ /breakdown.php?test=$1&run=$2
RewriteRule ^result/([a-zA-Z0-9_]+)/([0-9]+)/breakdown/cached/$ /breakdown.php?test=$1&run=$2&cached=1
RewriteRule ^result/([a-zA-Z0-9_]+)/([0-9]+)/domains/$ /domains.php?test=$1&run=$2
RewriteRule ^result/([a-zA-Z0-9_]+)/([0-9]+)/domains/cached/$ /domains.php?test=$1&run=$2&cached=1
RewriteRule ^result/([a-zA-Z0-9_]+)/([0-9]+)/optimization_report/$ /optimization_report.php?test=$1&run=$2
RewriteRule ^result/([a-zA-Z0-9_]+)/([0-9]+)/optimization_report/cached/$ /optimization_report.php?test=$1&run=$2&cached=1
RewriteRule ^testlog/([0-9]+)$ /testlog/$1/ [R] 
RewriteRule ^testlog/([0-9]+)/$ /testlog.php?days=$1
RewriteRule ^xmlResult/([a-zA-Z0-9_]+)/$ /xmlResult.php?test=$1 [qsa]

#old direct path to images
RewriteRule ^results/([a-zA-Z0-9])([a-zA-Z0-9]+)/([a-zA-Z0-9_]+).png$ /results/old/_$1/$1$2/$3.png
RewriteRule ^results/([a-zA-Z0-9])([a-zA-Z0-9]+)/([a-zA-Z0-9_]+).jpg$ /results/old/_$1/$1$2/$3.jpg

#csv combined results
RewriteRule ^result/([a-zA-Z0-9_]+)/page_data.csv$ /csv.php?test=$1
RewriteRule ^result/([a-zA-Z0-9_]+)/requests.csv$ /csv.php?test=$1&requests=1

#thumbnails
RewriteRule ^result/([a-zA-Z0-9_]+)/([0-9]+)_screen_thumb.jpg$ /thumbnail.php?test=$1&file=$2_screen.jpg
RewriteRule ^result/([a-zA-Z0-9_]+)/([0-9]+)_Cached_screen_thumb.jpg$ /thumbnail.php?test=$1&file=$2_Cached_screen.jpg
RewriteRule ^result/([a-zA-Z0-9_]+)/([0-9]+)_waterfall_thumb.png$ /thumbnail.php?test=$1&file=$2_waterfall.png
RewriteRule ^result/([a-zA-Z0-9_]+)/([0-9]+)_Cached_waterfall_thumb.png$ /thumbnail.php?test=$1&file=$2_Cached_waterfall.png
RewriteRule ^result/([a-zA-Z0-9_]+)/([0-9]+)_optimization_thumb.png$ /thumbnail.php?test=$1&file=$2_optimization.png
RewriteRule ^result/([a-zA-Z0-9_]+)/([0-9]+)_Cached_optimization_thumb.png$ /thumbnail.php?test=$1&file=$2_Cached_optimization.png

#old direct thumbnail paths
RewriteRule ^results/old/([a-zA-Z0-9_]+)/([0-9]+)_screen_thumb.jpg$ /thumbnail.php?test=$1&file=$2_screen.jpg
RewriteRule ^results/old/([a-zA-Z0-9_]+)/([0-9]+)_Cached_screen_thumb.jpg$ /thumbnail.php?test=$1&file=$2_Cached_screen.jpg
RewriteRule ^results/old/([a-zA-Z0-9_]+)/([0-9]+)_waterfall_thumb.png$ /thumbnail.php?test=$1&file=$2_waterfall.png
RewriteRule ^results/old/([a-zA-Z0-9_]+)/([0-9]+)_Cached_waterfall_thumb.png$ /thumbnail.php?test=$1&file=$2_Cached_waterfall.png
RewriteRule ^results/old/([a-zA-Z0-9_]+)/([0-9]+)_optimization_thumb.png$ /thumbnail.php?test=$1&file=$2_optimization.png
RewriteRule ^results/old/([a-zA-Z0-9_]+)/([0-9]+)_Cached_optimization_thumb.png$ /thumbnail.php?test=$1&file=$2_Cached_optimization.png
RewriteRule ^results/old/([a-zA-Z0-9_]+)/([0-9]+)_waterfall_thumb.gif$ /thumbnail.php?test=$1&file=$2_waterfall.gif
RewriteRule ^results/old/([a-zA-Z0-9_]+)/([0-9]+)_Cached_waterfall_thumb.gif$ /thumbnail.php?test=$1&file=$2_Cached_waterfall.gif
RewriteRule ^results/old/([a-zA-Z0-9_]+)/([0-9]+)_optimization_thumb.gif$ /thumbnail.php?test=$1&file=$2_optimization.gif
RewriteRule ^results/old/([a-zA-Z0-9_]+)/([0-9]+)_Cached_optimization_thumb.gif$ /thumbnail.php?test=$1&file=$2_Cached_optimization.gif

#
#Caching for images
#
ExpiresActive On
ExpiresByType image/gif A31536000
ExpiresByType image/jpg A31536000
ExpiresByType image/jpeg A31536000
ExpiresByType image/png A31536000
ExpiresByType image/bmp A31536000

#
#Disable ETags
#
Header unset ETag
FileETag None

#
#Disable directory browsing
#
Options -Indexes

# Mod security
<IfModule mod_security.c>
</IfModule>
